
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .arcticchart {
    background-image: url("https://cff2.earth.com/uploads/2023/04/20111346/polar-bear_polar-ice-sheet-melting_1medium.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-temperature h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .chart-container-polar {
    
    background: rgba(11, 11, 11, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 5%;
  }
  
  .causes-remedies-polar {
    text-align: left;
    margin-top: 20px;
    animation: fadeInListItem 5s ease forwards;
    animation-delay: 0.5s;
    max-width: 800px;
  }
  
  @keyframes fadeInListItem {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .causes-remedies-polar h3 {
    font-size: 24px;
    background-color: #0437f1;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border-radius: 5%;
    width: 100%; }
  
  .cause-list-polar,
  .remedy-list-polar {
    padding-left: 20px;
    white-space: normal;
    list-style: none;
    width: 100%;
    color: black;
  }
  
  .cause-list-polar li,
  .remedy-list-polar li {
    font-size: 16px; 
    margin-bottom: 10px;
  }
  
  .causes-remedies-polar p {
    color: blue;
    font-style: normal;
    font-size: 18px;
    text-shadow: 2px 2px 4px #2d2d2d8c;
    margin-bottom: 5%;
  }
  
  .cause-list-polar strong {
    font-weight: bold;
  }
  
 
  @media (max-width: 768px) {
    .chart-container-polar {
      margin-top: 10%; 
      padding: 10px;
      width: 100%;
      height: auto;
     
    }
  
  
    .chart-temperature h2 {
      font-size: 20px;
    }
  
    .causes-remedies-polar h3 {
      font-size: 20px; 
      margin-top: 10%;
    }
  
    .cause-list-polar li,
    .remedy-list-polar li {
      font-size: 14px; 
    }
  
    .causes-remedies-polar p {
      font-size: 16px; 
      margin-bottom: 3%; 
    }
  }
  